<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>サインイン | 基幹系認証管理システム</title>
	<link rel="stylesheet" href="../static/materialize/css/materialize.min.css" th:href="@{/materialize/css/materialize.min.css}"/>
	<link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
	<link rel="stylesheet" href="../static/css/ed01000.css" th:href="@{/css/ed01000.css}"/>
	<script src="../static/materialize/js/materialize.min.js" th:src="@{/materialize/js/materialize.min.js}"></script>
	<script src="../static/js/common.js" th:src="@{/js/common.js}"></script>
	<script src="../static/js/ed01000.js" th:src="@{/js/ed01000.js}"></script>
</head>
<body th:onLoad="edex_th_onload();">
<form>
	<!-- 共通部品用定義 -->
	<div th:replace="include/commonParts :: commonParts(viewSidenav='false')"></div>
	<!-- header定義 -->
	<header>
		<div class="row">
			<div class="col s11">
				<p class="center-align edex_sign_in">サインイン</p>
				<p class="center-align edex_re_sign_in">再認証サインイン</p>
			</div>
		</div>
	</header>
	<!-- モック表示用 -->
	<!-- imgファイルのファイルパス定義 -->
	<input type="hidden" id="imageUrl" value="../static/img/"></input>
	<!-- モーダルダイアログ用定義 -->
	<script th:remove="all">oa_getMessageDialog();</script>

	<!-- main定義 -->
	<main>
		<section class="edex_sign_in">
			<!-- Hidden項目 -->
			<div>
				<input type="hidden" id="redirectUri" name="redirectUri" th:value="${form.redirectUri}"/>
			</div>
			<!-- オペレーターコード -->
			<div class="row">
				<div class="col s10">
					<div class="input-field">
						<input type="text" id="operator_code" name="operatorCode" class="validate" th:value="${form.operatorCode}"/>
						<label for="operator_code">オペレーターコード</label>
					</div>	
				</div>
			</div>
		</section>
		<section class="edex_re_sign_in">
			<!-- ＪＡ -->
			<div class="row">
				<div class="col s10">
					<div class="input-field">
						<input type="text" id="ja" readonly="readonly" value="006 JA前橋"/>
						<label for="ja">ＪＡ</label>
					</div>
				</div>
			</div>
			<!-- オペレーター -->
			<div class="row">
				<div class="col s10">
					<div class="input-field">
						<input type="text" id="operator" readonly="readonly" value="OP006027 前橋小太郎"/>
						<label for="operator">オペレーター</label>
					</div>	
				</div>
			</div>
		</section>

		<section>
			<!-- パスワード -->
			<div class="row" id="password_old_row">
				<div class="col s10">
					<div class="input-field">
						<input type="password" id="password" name="password" class="validate"  th:value="${form.password}"/>
						<label for="password">パスワード</label>
					</div>
				</div>
				<!-- →ボタン -->		
				<div class="col s1">
					<a class="btn waves-effect waves-light" href="javascript:edex_signInBtn_onClick()">➡</a>
				</div>		
			</div>
		</section>
	</main>



	<!-- ★モックアップ時表示★ -->
	<div class="row" id="display_at_mockup_row">
		<br><br><br><br><br>
		<br><br><br><br><br>
		<p>★モックアップ時表示★</p>
		<div>
			<label>
				<input type="radio" id="mode_initial" name="mode" checked="checked" th:checked="${form.mode == 1}" value="1" onchange="edex_mode_onChange()"/>
				<span>初期認証</span>
			</label>
		</div>
		<div>
			<label>
				<input type="radio" id="mode_reset" name="mode" th:checked="${form.mode == 2}" value="2" onchange="edex_mode_onChange()"/>
				<span>継続再認証</span>
			</label>
		</div>
	</div>

</form>
</body>
</html>