<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>サブシステムロール付与 | 基幹系認証管理システム</title>
	<link rel="stylesheet" href="../static/materialize/css/materialize.min.css" th:href="@{/materialize/css/materialize.min.css}"/>
	<link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
	<link rel="stylesheet" href="../static/css/sidenav.css" th:href="@{/css/sidenav.css}"/>
	<link rel="stylesheet" href="../static/css/oa11040.css" th:href="@{/css/oa11040.css}"/>
	<script src="../static/materialize/js/materialize.min.js" th:src="@{/materialize/js/materialize.min.js}"></script>
	<script src="../static/js/common.js" th:src="@{/js/common.js}"></script>
	<script src="../static/js/sidenav.js" th:src="@{/js/sidenav.js}"></script>
	<script src="../static/js/oa11040.js" th:src="@{/js/oa11040.js}"></script>
</head>
<body th:onLoad="oaex_th_onload();">
<form>
	<!-- imgファイルのファイルパス定義 モック表示時と実環境でパスが異なるため -->
	<input type="hidden" id="imageUrl" value="../static/img/" th:value="@{/img/}"></input>
	<!-- モーダルダイアログ用定義 -->
	<script th:remove="all">oa_getMessageDialog();</script>
	<div th:replace="include/messageDialog :: messageDialog"></div>
	<!-- 左に表示するメニュー用定義 -->
	<script>oa_getSidenav("oa11040");</script>
	<!-- header定義 -->
	<header>
		<script th:remove="all">oa_getHeader("oa11040", "サブシステムロール付与");</script>
		<div th:replace="include/header :: header (id='oa11040', title='サブシステムロール付与')"></div>
	</header>

	<!-- main定義 -->
	<main>
		<section>
			<!-- Hidden項目 -->
			<div>
				<input type="hidden" id="operator_id" name="operatorId" th:value="${form.operatorId}"></input>
			</div>
			<!-- ＪＡ -->
			<div class="row oa_readonly">
				<div class="col s6">
					<div class="input-field">
						<input type="text" id="ja" name="ja" readonly="readonly" value="006 JA前橋" th:value="${form.ja}"></input>
						<label for="ja">ＪＡ</label>
					</div>
				</div>
			</div>
			<!-- オペレーター -->
			<div class="row oa_readonly">
				<div class="col s6">
					<div class="input-field">
						<input type="text" id="operator" name="operator" readonly="readonly" value="OP006027 前橋小太郎" th:value="${form.operator}"></input>
						<label for="operator">オペレーター</label>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="row">
				<!-- テーブルタイトル-->
				<div class="col s4">
					<label class="oa_content_label">サブシステムロール</label>
				</div>
				<!-- コピーボタン -->
				<div class="col s3 offset-s1">
					<a class="btn waves-effect waves-light" href="javascript:oaex_th_copyBtn_onClick();">コピー</a>
				</div>
			</div>
		</section>

		<section>
			<div class="row">
				<!-- 付与ロールテーブル -->
				<div class="col s7">
					<div class="oa_table_head_dflex">
						<div id="assign_role_table_head" class="oa_table_head_flex">
							<table>
								<thead>
									<tr>
										<th class="oaex_assign_role_table_name_th">付与ロール</th>
										<th class="oaex_assign_role_table_valid_thru_th">有効期限</th>
									</tr>
								</thead>
							</table>
						</div>
						<div class="oa_table_head_flex_scroll_bar"></div>
					</div>
					<div class="oaex_assign_role_table" onScroll="oa_linkageScrollX(this, 'assign_role_table_head')">
						<table id="assign_role_table" class="highlight">
							<tbody>
								<tr class="oaex_assign_role_table_template_row" onclick="oa_setTableRowSelected(this); oaex_assignRoleTableRow_onClick(this);">
									<td class="oaex_assign_role_table_code"></td>
									<td class="oaex_assign_role_table_name"></td>
									<td class="oaex_assign_role_table_valid_thru">
										<div class="input-field">
											<input type="text" class="datepicker" value=""></input>
										</div>
										<span>～</span>
										<div class="input-field">
											<input type="text" class="datepicker" value=""></input>
										</div>
									</td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
								</tr>
								<!-- th using -->
								<!--/*/
								<tr onclick="oa_setTableRowSelected(this); oaex_assignRoleTableRow_onClick(this);" th:each="itemrow, iterStat : *{form.assignRoleTableVoList}">
									<td class="oaex_assign_role_table_code" th:text="${itemrow.roleCode}"></td>
									<td class="oaex_assign_role_table_name" th:text="${itemrow.roleName}"></td>
									<td class="oaex_assign_role_table_valid_thru">
										<div class="input-field">
											<input type="text" class="datepicker" th:field="*{form.assignRoleTableVoList[__${iterStat.index}__].validThruStartDate}"></input>
										</div>
										<span>～</span>
										<div class="input-field">
											<input type="text" class="datepicker" th:field="*{form.assignRoleTableVoList[__${iterStat.index}__].validThruEndDate}"></input>
										</div>
									</td>
									<td style="display:none;"><input type="hidden" th:field="*{form.assignRoleTableVoList[__${iterStat.index}__].roleCode}"></input></td>
									<td style="display:none;"><input type="hidden" th:field="*{form.assignRoleTableVoList[__${iterStat.index}__].roleName}"></input></td>
									<td style="display:none;"><input type="hidden" th:field="*{form.assignRoleTableVoList[__${iterStat.index}__].isModifiable}"></input></td>
								</tr>
								/*/-->
								<tr th:remove="all" onclick="oa_setTableRowSelected(this); oaex_assignRoleTableRow_onClick(this);">
									<td class="oaex_assign_role_table_code">2110</td>
									<td class="oaex_assign_role_table_name">業務統括者（販売・青果）</td>
									<td class="oaex_assign_role_table_valid_thru">
										<div class="input-field">
											<input disabled type="text" class="datepicker" value="2020/04/01"></input>
										</div>
										<span>～</span>
										<div class="input-field">
											<input disabled type="text" class="datepicker" value="9999/12/31"></input>
										</div>
									</td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"><input type="hidden" id="assignRoleTableVoList0.isModifiable" value="false"></input></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- 移動ボタン -->
				<div class="col s1">
					<div class="oaex_move_btn"><a id="move_add_btn" class="btn waves-effect waves-light" href="javascript:oaex_moveAddBtn_onClick();">◀</a></div>
					<div class="oaex_move_btn"><a id="move_remove_btn" class="btn waves-effect waves-light" href="javascript:oaex_moveRemoveBtn_onClick();">▶</a></div>
				</div>
				<!-- 未付与ロールテーブル -->
				<div class="col s4">
					<div class="oa_table_head_dflex">
						<div id="unassign_role_table_head" class="oa_table_head_flex">
							<table>
								<thead>
									<tr><th class="oaex_unassign_role_table_name_th">未付与ロール</th></tr>
								</thead>
							</table>
						</div>
						<div class="oa_table_head_flex_scroll_bar"></div>
					</div>
					<div class="oaex_unassign_role_table" onScroll="oa_linkageScrollX(this, 'unassign_role_table_head')">
						<table id="unassign_role_table" class="highlight">
							<!-- th using -->
							<!--/*/
							<tbody>
								<tr onclick="oa_setTableRowSelected(this); oaex_unAssignRoleTableRow_onClick(this);" th:each="itemrow, iterStat : *{form.unAssignRoleTableVoList}">
									<td class="oaex_unassign_role_table_code" th:text="${itemrow.roleCode}"></td>
									<td class="oaex_unassign_role_table_name" th:text="${itemrow.roleName}"></td>
									<td style="display:none;"><input type="hidden" th:field="*{form.unAssignRoleTableVoList[__${iterStat.index}__].isModifiable}"></input></td>

									<td style="display:none;"><input type="hidden" th:field="*{form.unAssignRoleTableVoList[__${iterStat.index}__].roleCode}"></input></tc>
									<td style="display:none;"><input type="hidden" th:field="*{form.unAssignRoleTableVoList[__${iterStat.index}__].roleName}"></input></tc>
								</tr>
							</tbody>
							/*/-->
							<tbody th:remove="all">
							<tr onclick="oa_setTableRowSelected(this); oaex_unAssignRoleTableRow_onClick(this);"><td class="oaex_unassign_role_table_code">0000</td><td class="oaex_unassign_role_table_name">JA管理者</td><td style="display:none;"><input type="hidden" id="unAssignRoleTableVoList0.isModifiable" value="false"></input></td></tr>
								<tr onclick="oa_setTableRowSelected(this); oaex_unAssignRoleTableRow_onClick(this);"><td class="oaex_unassign_role_table_code">1000</td><td class="oaex_unassign_role_table_name">業務統括者（購買）</td><td style="display:none;"><input type="hidden" id="unAssignRoleTableVoList1.isModifiable" value="true"></input></td></tr>
								<tr onclick="oa_setTableRowSelected(this); oaex_unAssignRoleTableRow_onClick(this);"><td class="oaex_unassign_role_table_code">2110</td><td class="oaex_unassign_role_table_name">業務統括者（販売・青果）</td><td style="display:none;"><input type="hidden" id="unAssignRoleTableVoList2.isModifiable" value="true"></input></td></tr>
								<tr onclick="oa_setTableRowSelected(this); oaex_unAssignRoleTableRow_onClick(this);"><td class="oaex_unassign_role_table_code">2120</td><td class="oaex_unassign_role_table_name">業務統括者（販売・花卉）</td><td style="display:none;"><input type="hidden" id="unAssignRoleTableVoList3.isModifiable" value="true"></input></td></tr>
								<tr onclick="oa_setTableRowSelected(this); oaex_unAssignRoleTableRow_onClick(this);"><td class="oaex_unassign_role_table_code">2210</td><td class="oaex_unassign_role_table_name">業務統括者（販売・米）</td><td style="display:none;"><input type="hidden" id="unAssignRoleTableVoList4.isModifiable" value="false"></input></td></tr>
								<tr onclick="oa_setTableRowSelected(this); oaex_unAssignRoleTableRow_onClick(this);"><td class="oaex_unassign_role_table_code">2220</td><td class="oaex_unassign_role_table_name">業務統括者（販売・麦）</td><td style="display:none;"><input type="hidden" id="unAssignRoleTableVoList5.isModifiable" value="false"></input></td></tr>
								<tr onclick="oa_setTableRowSelected(this); oaex_unAssignRoleTableRow_onClick(this);"><td class="oaex_unassign_role_table_code">2300</td><td class="oaex_unassign_role_table_name">業務統括者（販売・畜産）</td><td style="display:none;"><input type="hidden" id="unAssignRoleTableVoList6.isModifiable" value="true"></input></td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<section>
			<!-- 変更事由 -->
			<div class="row oa_required">
				<div class="col s7">
					<div class="input-field">
						<input type="text" id="change_cause" name="changeCause" class="validate" value="" placeholder="業務統括者（販売・青果）に昇格／業務統括者（販売・花卉）も兼務…" th:value="${form.changeCause}" th:placeholder="${form.changeCausePlaceholder}"></input>
						<label for="change_cause">変更事由</label>
					</div>
				</div>
			</div>
		</section>
		<br>
	</main>

	<!-- footer定義 -->
	<footer>
		<div class="row">
			<div class="col s3">
				<a class="btn waves-effect waves-light" href="javascript:oaex_closeBtn_onClick();">閉じる</a>
			</div>
			<div class="col s3 offset-s6">
				<a class="btn waves-effect waves-light" href="javascript:oaex_applyBtn_onClick();">適用</a>
			</div>
		</div>
	</footer>
</form>
</body>
</html>