<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>一時取引抑止＜一覧＞ | 基幹系認証管理システム</title>
	<link rel="stylesheet" href="../static/materialize/css/materialize.min.css" th:href="@{/materialize/css/materialize.min.css}"/>
	<link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
	<link rel="stylesheet" href="../static/css/sidenav.css" th:href="@{/css/sidenav.css}"/>
	<link rel="stylesheet" href="../static/css/oa12020.css" th:href="@{/css/oa12020.css}"/>
	<script src="../static/materialize/js/materialize.min.js" th:src="@{/materialize/js/materialize.min.js}"></script>
	<script src="../static/js/common.js" th:src="@{/js/common.js}"></script>
	<script src="../static/js/sidenav.js" th:src="@{/js/sidenav.js}"></script>
	<script src="../static/js/oa12020.js" th:src="@{/js/oa12020.js}"></script>
</head>
<body th:onLoad="oaex_th_onload();">
<form>
	<!-- 共通部品用定義 -->
	<div th:replace="include/commonParts :: commonParts"></div>
	<!-- header定義 -->
	<header>
		<div th:replace="include/header :: header (id='oa12020', title='一時取引抑止<一覧>')"></div>
		<!-- モック表示用 -->
		<script th:remove="all">oa_getHeader("oa12020", "一時取引抑止<一覧>");</script>
	</header>
	<!-- モック表示用 -->
	<!-- imgファイルのファイルパス定義 -->
	<input type="hidden" id="imageUrl" value="../static/img/"/>
	<!-- モーダルダイアログ用定義 -->
	<script th:remove="all">oa_getMessageDialog();</script>
	<!-- 左に表示するメニュー用定義 -->
	<script th:remove="all">oa_getSidenav("oa12020");</script>

	<!-- main定義 -->
	<main>
		<section>
			<!-- ＪＡ -->
			<div class="row oa_optional">
				<div class="col s6">
					<div id="ja_select">
						<div th:replace="include/formElements::selectForCode(title='ＪＡ',id='ja',name='jaCode')" th:fragment="ajaxSelectJa"></div>
					</div>
					<input type="hidden" id="ja_code" th:value="${form.jaCode}"/>
					<div class="input-field" th:remove="all">
						<select id="ja" name="jaid" class="validate" onchange="oaex_ja_onChange()">
							<option value=""></option>
							<option value="002">ＪＡ赤城たちばな</option>
							<option value="006">ＪＡ前橋市</option>
							<option value="070">ＪＡたかさき</option>
							<option value="074">ＪＡはぐくみ</option>
							<option value="160">ＪＡ北群渋川</option>
							<option value="210">ＪＡたのふじ</option>
							<option value="280">ＪＡ甘楽富岡</option>
							<option value="350">ＪＡ碓氷安中</option>
							<option value="415">ＪＡあがつま</option>
							<option value="470">ＪＡ利根沼田</option>
							<option value="550">ＪＡ佐波伊勢崎</option>
							<option value="617">ＪＡにったみどり</option>
							<option value="618">ＪＡ太田市</option>
							<option value="744">ＪＡ邑楽館林</option>
							<option value="990">ＪＡ群馬電算センター</option>
						</select>
						<label>ＪＡ</label>
					</div>
				</div>
			</div>
			<!-- 店舗 -->
			<div class="row oa_optional">
				<div class="col s6">
					<div id="branch_select">
						<div th:replace="include/formElements::selectForCode(title='店舗',id='branch',name='branchCode')" th:fragment="ajaxSelectBranch"></div>
					</div>
					<input type="hidden" id="branch_code" th:value="${form.branchCode}"/>
					<div class="input-field" th:remove="all">
						<select id="tempo" name="branchId" class="validate">
							<option value=""></option>
							<option value="001">本所</option>
							<option value="002">○○○支所</option>
							<option value="003">△△センター</option>
							<option value="004">□□□□店</option>
							<option value="005">××××館</option>
						</select>
						<label>店舗</label>
					</div>	
				</div>
			</div>
		</section>

		<section>
			<div class="row oa_optional">
				<!-- サブシステム -->
				<div class="col s3">
					<div id="subSystem_select">
						<div th:replace="include/formElements::selectForCode(title='サブシステム',id='subSystem',name='subSystemCode')" th:fragment="ajaxSelectSubSystem"></div>
					</div>
					<input type="hidden" id="subSystem_code" th:value="${form.subSystemCode}"/>
					<div class="input-field" th:remove="all">
						<select id="subsystem" name="subSystemCode" class="validate" onchange="oaex_subsystem_onChange()">
							<option value=""></option>
							<option value="KB">購買</option>
							<option value="YS">販売・青果</option>
							<option value="YF">販売・花卉</option>
							<option value="HK">販売・米</option>
							<option value="HM">販売・麦</option>
							<option value="AN">販売・畜産</option>
						</select>
						<label>サブシステム</label>
					</div>
				</div>
				<!-- 取引グループ -->
				<div class="col s4">
					<div id="bizTranGrp_select">
						<div th:replace="include/formElements::selectForCode(title='取引グループ',id='bizTranGrp',name='bizTranGrpCode')" th:fragment="ajaxSelectBizTranGrp"></div>
					</div>
					<input type="hidden" id="bizTran_grp_code" th:value="${form.bizTranGrpCode}"/>
					<div class="input-field" th:remove="all">
						<select id="biztran_grp" name="bizTranGrpId" class="validate" onchange="oaex_biztran_grp_onChange()">
						</select>
						<label>取引グループ</label>
					</div>
				</div>
				<!-- 取引 -->
				<div class="col s5">
					<div id="bizTran_select">
						<div th:replace="include/formElements::selectForCode(title='取引',id='bizTran',name='bizTranCode')" th:fragment="ajaxSelectBizTran"></div>
					</div>
					<input type="hidden" id="bizTran_code" th:value="${form.bizTranCode}"/>
					<div class="input-field" th:remove="all">
						<select id="biztran" class="validate" onchange="oaex_biztran_onChange()">
						</select>
						<label>取引</label>
					</div>
				</div>
			</div>
		</section>

		<!-- detail折りたたみ検索条件定義 -->
		<section>
			<ul class="collapsible oa_collapsible">
				<!-- 有効期限 -->
				<li>
					<div class="collapsible-header oa_collapsible_header">
						<img src="../static/img/collapsible.png" alt="collapsible" th:src="@{/img/collapsible.png}"/>
						<label class="oa_content_label">抑止期間</label>
					</div>
					<div class="collapsible-body">
						<div class="row oa_optional">
							<div class="col s3">
								<label>
									<input type="radio" id="valid_thru_sel_non" name="valid_thru_sel" value="0" onchange="oaex_validThruSel_onChange();"
										   th:name="suspendConditionsSelect" th:checked="${form.suspendConditionsSelect == 0}"/>
									<span>指定なし</span>
								</label>
							</div>
							<div class="col s3">
								<label>
									<input type="radio" id="valid_thru_sel_status" name="valid_thru_sel" value="1" onchange="oaex_validThrusel_onChange();"
										   th:name="suspendConditionsSelect" th:checked="${form.suspendConditionsSelect == 1}"/>
									<span>状態指定日</span>
								</label>
								<div class="input-field">
									<input type="text" id="valid_thru_status_date" name="suspendStatusDate" class="validate datepicker" value=""
										   th:value="${form.suspendStatusDate}"/>
									<label for="valid_thru_status_date"></label>
								</div>
							</div>
							<div class="col s6">
								<label>
									<input type="radio" id="valid_thru_sel_conditions" name="valid_thru_sel" value="2" onchange="oaex_validThrusel_onChange();"
										   th:name="suspendConditionsSelect" th:checked="${form.suspendConditionsSelect == 2}"/>
									<span>条件指定</span>
								</label>
								<div class="row">
									<div class="col s4"><p>抑止開始</p></div>
									<div class="col s3">
										<div class="input-field">
											<input type="text" id="valid_thru_start_date_from" name="suspendStatusStartDateFrom" class="validate datepicker" value=""
												   th:value="${form.suspendStatusStartDateFrom}"/>
											<label for="valid_thru_start_date_from"></label>
										</div>
									</div>
									<div class="col s1"><div class="center-align"><p>～</p></div></div>
									<div class="col s3">
										<div class="input-field">
											<input type="text" id="valid_thru_start_date_to" name="suspendStatusStartDateTo" class="validate datepicker" value=""
												   th:value="${form.suspendStatusStartDateTo}"/>
											<label for="valid_thru_start_date_to"></label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col s4"><p>抑止終了</p></div>
									<div class="col s3">
										<div class="input-field">
											<input type="text" id="valid_thru_end_date_from" name="suspendStatusEndDateFrom" class="validate datepicker" value=""
												   th:value="${form.suspendStatusEndDateFrom}"/>
											<label for="valid_thru_end_date_from"></label>
										</div>
									</div>
									<div class="col s1"><div class="center-align"><p>～</p></div></div>
									<div class="col s3">
										<div class="input-field">
											<input type="text" id="valid_thru_end_date_to" name="suspendStatusEndDateTo" class="validate datepicker" value=""
												   th:value="${form.suspendStatusEndDateTo}"/>
											<label for="valid_thru_end_date_to"></label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 抑止理由 -->
						<div class="row oa_optional">
							<div class="col s7">
								<div class="input-field">
									<input type="text" id="suspend_reason" name="suspendReason" class="validate" value=""
										   th:value="${form.suspendReason}"/>
									<label for="suspend_reason">抑止理由</label>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</section>

		<!-- 検索ボタン -->
		<section>
			<div class="row">
				<div class="col s3 offset-s9">
					<a class="btn waves-effect waves-light" href="javascript:oaex_searchBtn_onClick();">検索</a>
				</div>
			</div>
		</section>

		<section>
			<!-- 一時取引抑止テーブル -->
			<div class="row">
				<div class="col s12">
					<div class="oaex_suspend_biztran_table">
						<table id="suspend_biztran_table" class="highlight">
							<thead>
								<tr>
									<th class="oaex_table_ja_th" colspan="2">ＪＡ</th>
									<th class="oaex_table_tempo_th" colspan="2">店舗</th>
									<th class="oaex_table_subsystem_th">サブシステム</th>
									<th class="oaex_table_biztran_grp_th" colspan="2">取引グループ</th>
									<th class="oaex_table_biztran_th" colspan="2">取引</th>
									<th class="oaex_table_valid_thru_date_th">有効期限</th>
									<th class="oaex_table_suspend_reason_th">抑止理由</th>
								</tr>
							</thead>
							<tbody id="suspend_biztran_tbody">
								<!-- th using -->
								<!--/*/ 
								<tr th:each="itemrow, iterStat : *{form.searchResultList}" onclick="oa_setTableRowSelected(this)">
									<td style="display:none;"><input type="hidden" id="suspend_bizTran_id" th:value="${itemrow.suspendBizTranId}"/></td>
									<td class="oaex_table_ja_code" th:text="${itemrow.jaCode}"></td>
									<td class="oaex_table_ja_name" th:text="${itemrow.jaName}"></td>
									<td class="oaex_table_tempo_code" th:text="${itemrow.branchCode}"></td>
									<td class="oaex_table_tempo_name" th:text="${itemrow.branchName}"></td>
									<td class="oaex_table_subsystem" th:text="${itemrow.subSystemName}"></td>
									<td class="oaex_table_biztran_grp_code" th:text="${itemrow.bizTranGrpCode}"></td>
									<td class="oaex_table_biztran_grp_name" th:text="${itemrow.bizTranGrpName}"></td>
									<td class="oaex_table_biztran_code" th:text="${itemrow.bizTranCode}"></td>
									<td class="oaex_table_biztran_name" th:text="${itemrow.bizTranName}"></td>
									<td class="oaex_table_valid_thru_date" th:text="*{#temporals.format(itemrow.suspendStartDate, 'yyyy/MM/dd')}+'～'+*{#temporals.format(itemrow.suspendEndDate, 'yyyy/MM/dd')}"></td>
									<td class="oaex_table_suspend_reason" th:text="${itemrow.suspendReason}"></td>
								</tr>
								/*/-->
								<tr th:remove="all" onclick="oa_setTableRowSelected(this)"><td class="oaex_table_ja_code"></td><td class="oaex_table_ja_name"></td><td class="oaex_table_tempo_code"></td><td class="oaex_table_tempo_name"></td><td class="oaex_table_subsystem">販売・青果</td><td class="oaex_table_biztran_grp_code"></td><td class="oaex_table_biztran_grp_name"></td><td class="oaex_table_biztran_code">YS3204</td><td class="oaex_table_biztran_name">市況エラー</td><td class="oaex_table_valid_thru_date">2019/04/01～2019/04/20</td><td class="oaex_table_suspend_reason">不具合により緊急抑止</td></tr>
								<tr th:remove="all" onclick="oa_setTableRowSelected(this)"><td>006</td><td>JA前橋</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>2019/04/01～2019/04/20</td><td>合併前のデータ凍結の為のデータ投入抑止</td></tr>
								<tr th:remove="all" onclick="oa_setTableRowSelected(this)"><td>007</td><td>JAたかさき</td><td>000</td><td>本所</td><td></td><td></td><td></td><td></td><td></td><td>2019/04/01～2019/04/20</td><td>NＮＮＮＮＮＮＮＮＮ</td></tr>
								<tr th:remove="all" onclick="oa_setTableRowSelected(this)"><td></td><td></td><td></td><td></td><td>購買</td><td></td><td></td><td></td><td></td><td>2019/04/01～2019/04/20</td><td>NＮＮＮＮＮＮＮＮＮ</td></tr>
								<tr th:remove="all" onclick="oa_setTableRowSelected(this)"><td></td><td></td><td></td><td></td><td>販売・青果</td><td>YSTG03</td><td>市況取引グループ</td><td></td><td></td><td>2019/04/01～2019/04/20</td><td>NＮＮＮＮＮＮＮＮＮ</td></tr>
								<tr th:remove="all" onclick="oa_setTableRowSelected(this)"><td></td><td></td><td></td><td></td><td>販売・花卉</td><td></td><td></td><td>YF4301</td><td>振込要求</td><td>2019/04/01～2019/04/20</td><td>NＮＮＮＮＮＮＮＮＮ</td></tr>
								<tr th:remove="all" onclick="oa_setTableRowSelected(this)"><td>230</td><td>JA甘楽富岡</td><td></td><td></td><td>販売・米</td><td></td><td></td><td></td><td></td><td>2019/04/01～2019/04/20</td><td>NＮＮＮＮＮＮＮＮＮ</td></tr>
								<tr th:remove="all" onclick="oa_setTableRowSelected(this)"><td>350</td><td>JA碓氷安中</td><td></td><td></td><td>販売・麦</td><td>HMTG20</td><td>麦ＪＡ取引グループ</td><td></td><td></td><td>2019/04/01～2019/04/20</td><td>NＮＮＮＮＮＮＮＮＮ</td></tr>
								<tr th:remove="all" onclick="oa_setTableRowSelected(this)"><td>420</td><td>JA嬬恋村</td><td></td><td></td><td>販売・畜産</td><td></td><td></td><td>AN1210</td><td>仕切入力</td><td>2019/04/01～2019/04/20</td><td>NＮＮＮＮＮＮＮＮＮ</td></tr>
								<tr th:remove="all" onclick="oa_setTableRowSelected(this)"><td>474</td><td>JA片品村</td><td>000</td><td>本所</td><td>販売・米</td><td></td><td></td><td></td><td></td><td>2019/04/01～2019/04/20</td><td>NＮＮＮＮＮＮＮＮＮ</td></tr>
								<tr th:remove="all" onclick="oa_setTableRowSelected(this)"><td>616</td><td>JA藪塚本町</td><td>000</td><td>本所</td><td>販売・麦</td><td>HMTG25</td><td>麦ＪＡ取引（振込以外取引）グループ</td><td></td><td></td><td>2019/04/01～2019/04/20</td><td>NＮＮＮＮＮＮＮＮＮ</td></tr>
								<tr th:remove="all" onclick="oa_setTableRowSelected(this)"><td>618</td><td>JA太田市</td><td>000</td><td>本所</td><td>販売・畜産</td><td></td><td></td><td>AN1210</td><td>仕切入力</td><td>2019/04/01～2019/04/20</td><td>NＮＮＮＮＮＮＮＮＮ</td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- pagination -->
			<div class="row">
				<div class="col s12">
					<input type="hidden" id="pageNo" name="pageNo" th:value="${form.pageNo}"/>
					<ul id="suspend_biztran_pagination" class="pagination">
						<li th:if="${form.paginationLastPageNo > 0}" th:class="${form.pageNo == 1}? 'disabled' : 'waves-effect'">
							<a th:href="${form.pageNo == 1}? '#!' : 'javascript:oaex_th_searchBtn_onClick('+${form.pageNo-1}+');'" >&lt;</a>
						</li>
						<li th:if="${form.paginationLastPageNo > 0}" th:each='item : ${#numbers.sequence(1, form.paginationLastPageNo)}' th:class="${item == form.pageNo}? 'active' : 'waves-effect'">
							<a th:href="${item == form.pageNo}? '#!' : 'javascript:oaex_th_searchBtn_onClick('+${item}+');'" ><span th:text="${item}"></span></a>
						</li>
						<li th:if="${form.paginationLastPageNo > 0}" th:class="${form.pageNo == form.paginationLastPageNo}? 'disabled' : 'waves-effect'">
							<a th:href="${form.pageNo == form.paginationLastPageNo}? '#!' : 'javascript:oaex_th_searchBtn_onClick('+${form.pageNo+1}+');'" >&gt;</a>
						</li>
						<li class="disabled" th:remove="all"><a href="#!">&lt;</a></li>
						<li class="active" th:remove="all"><a href="#!">1</a></li>
						<li class="waves-effect" th:remove="all"><a href="#!">2</a></li>
						<li class="waves-effect" th:remove="all"><a href="#!">3</a></li>
						<li class="waves-effect" th:remove="all"><a href="#!">4</a></li>
						<li class="waves-effect" th:remove="all"><a href="#!">5</a></li>
						<li class="waves-effect" th:remove="all"><a href="#!">&gt;</a></li>
					</ul>
				</div>
			</div>
		</section>

		<!-- <br> -->

	</main>

	<!-- footer定義 -->
	<footer>
		<div class="row">
			<div class="col s3">
				<a class="btn waves-effect waves-light" href="javascript:oaex_closeBtn_onClick();">閉じる</a>
			</div>
			<div class="col s5 offset-s4">
				<a class="btn waves-effect waves-light" href="javascript:oaex_newBtn_onClick()">新規</a>
				&nbsp;&nbsp;&nbsp;
				<a class="btn waves-effect waves-light" href="javascript:oaex_detailBtn_onClick()">詳細</a>
			</div>
		</div>
	</footer>
</form>
</body>
</html>