<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>ＪＡ割当IPアドレス範囲メンテナンス | 基幹系認証管理システム</title>
	<link rel="stylesheet" href="../static/materialize/css/materialize.min.css"/>
	<link rel="stylesheet" href="../static/css/common.css"/>
	<link rel="stylesheet" href="../static/css/sidenav.css"/>
	<link rel="stylesheet" href="../static/css/oa12070.css"/>
	<script src="../static/materialize/js/materialize.min.js"></script>
	<script src="../static/js/common.js"></script>
	<script src="../static/js/sidenav.js"></script>
	<script src="../static/js/oa12070.js"></script>
</head>
<body>
	<!-- モーダルダイアログ用定義 -->
	<script>oa_getMassageDialog();</script>
	<!-- 左に表示するメニュー用定義 -->
	<script>oa_getSidenav("oa12070");</script>
	<!-- header定義 -->
	<header>
		<script>oa_getHeader("oa12070", "ＪＡ割当IPアドレス範囲メンテナンス");</script>
	</header>

	<!-- main定義 -->
	<main>
		<section>
			<!-- ＪＡ -->
			<div class="row oa_required">
				<div class="col s6">
					<div class="input-field">
						<select id="ja" class="validate" onchange="oaex_ja_onChange()">
							<option value=""></option>
							<option value="002">ＪＡ赤城たちばな</option>
							<option value="006">ＪＡ前橋市</option>
							<option value="070">ＪＡたかさき</option>
							<option value="074">ＪＡはぐくみ</option>
							<option value="160">ＪＡ北群渋川</option>
							<option value="210">ＪＡたのふじ</option>
							<option value="280">ＪＡ甘楽富岡</option>
							<option value="350">ＪＡ碓氷安中</option>
							<option value="415">ＪＡあがつま</option>
							<option value="470">ＪＡ利根沼田</option>
							<option value="550">ＪＡ佐波伊勢崎</option>
							<option value="617">ＪＡにったみどり</option>
							<option value="618">ＪＡ太田市</option>
							<option value="744">ＪＡ邑楽館林</option>
							<option value="990">ＪＡ群馬電算センター</option>
						</select>
						<label>ＪＡ</label>
					</div>
				</div>
			</div>
			<br>
		</section>

		<section>
			<!-- JA割当IPアドレス範囲テーブル -->
			<div class="row">
				<div class="col s8">
					<div class="oa_table_head_dflex">
						<div id="ip_address_range_table_head" class="oa_table_head_flex">
							<table>
								<thead>
									<tr>
										<th class="oaex_ip_address_range_table_ip_address_range_th">IPアドレス範囲</th>
										<th class="oaex_ip_address_range_table_expiration_th">有効期限</th>
									</tr>
								</thead>
							</table>
						</div>
						<div class="oa_table_head_flex_scroll_bar"></div>
					</div>
					<div class="oaex_ip_address_range_table" onScroll="oa_linkageScrollX(this, 'ip_address_range_table_head')">
						<table id="ip_address_range_table" class="highlight">
							<tbody>
								<tr class="oaex_ip_address_range_table_template_row" onclick="oa_setTableRowSelected(this)">
									<td class="oaex_ip_address_range_table_ip_address_range">
										<div class="input-field">
											<input type="text" id="ip_address_range" class="validate"></input>
										</div>
									</td>
									<td class="oaex_ip_address_range_table_expiration">
										<div class="input-field">
											<input type="text" class="datepicker" value=""></input>
										</div>
										<span>～</span>
										<div class="input-field">
											<input type="text" class="datepicker" value=""></input>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<section>
			<!-- 追加ボタン・削除ボタン  -->
			<div class="row">
				<div class="col s4 offset-s6">
					<a class="btn waves-effect waves-light oa_footer_button" href="javascript:oaex_additionBtn_onClick();">追加</a>
					&nbsp;&nbsp;&nbsp;
					<a class="btn waves-effect waves-light oa_footer_button" href="javascript:oaex_removalBtn_onClick();">削除</a>
				</div>
			</div>
		</section>

		<section>
			<!-- 説明表記 -->
			<div class="col s8"><p>設定ヒント）</p></div>
			<div class="col s8"><p>・当設定は前方一致で判定されます</p></div>
			<div class="col s8"><p>・オクテット内の数値はゼロパディング値で設定してください</p></div>
			<div class="col s8"><p>・何れにも合致しない場合、遮断されます</p></div>
		</section>
		<br>
	</main>

	<!-- footer定義 -->
	<footer>
		<div class="row">
			<div class="col s3">
				<a class="btn waves-effect waves-light" href="javascript:oaex_closeBtn_onClick();">閉じる</a>
			</div>
			<div class="col s3 offset-s4">
				<a class="btn waves-effect waves-light" href="javascript:oaex_entryBtn_onClick();">登録</a>
			</div>
		</div>
	</footer>

</body>
</html>