/**
 * OA11010 オペレーター＜一覧＞
 */

/* 共通のoa_collapsible_headerをオーバーライド */
div.oa_collapsible_header {width: 150px;}

/* サブシステムロール検索条件の折りたたみヘッダー */
.oaex_subsystem_role_header {position: relative;}
.oaex_subsystem_role_header_conditions {
	position: absolute;
	top: 4px;
	left: 160px;
}
.oaex_subsystem_role_clsoe {display: none;}

/** 
 * サブシステムロールテーブル 
 */
.oaex_subsystem_role_table {
	height: 191px; 
	overflow-y: scroll;
}
.oaex_subsystem_role_table td {
	padding: 2px 2px;
}
/* サブシステムロールテーブル */
.oaex_subsystem_role_check_th {min-width: 25px; width: 2%;}
.oaex_subsystem_role_check {min-width: 25px; width: 2%;}

.oaex_subsystem_role_subsystem_role_th {min-width: 230px; width: 22%;}
.oaex_subsystem_role_subsystem_role_code {min-width: 42px; width: 4%;}
.oaex_subsystem_role_subsystem_role_name {min-width: 188px; width: 18%;}

.oaex_subsystem_role_valid_thru_sel_non_th {min-width: 234px; width: 22%;}
.oaex_subsystem_role_valid_thru_sel_non {min-width: 110px; width: 10%;}
.oaex_subsystem_role_valid_thru_sel_status {min-width: 124px; width: 12%;}

.oaex_subsystem_role_valid_thru_status_date_th {min-width: 202px; width: 18%;}
.oaex_subsystem_role_valid_thru_status_date {min-width: 92px; width: 8%;}
.oaex_subsystem_role_valid_thru_sel_conditions {min-width: 110px; width: 10%;}

.oaex_subsystem_role_valid_thru_start_date_from_th {min-width: 209px; width: 18%;}
.oaex_subsystem_role_valid_thru_start_date_from {min-width: 92px; width: 8%;}
.oaex_subsystem_role_valid_thru_start_date_tilde {min-width: 25px; width: 2%;}
.oaex_subsystem_role_valid_thru_start_date_to {min-width: 92px; width: 8%;}

.oaex_subsystem_role_valid_thru_end_date_from_th {min-width: 209px; width: 18%;}
.oaex_subsystem_role_valid_thru_end_date_from {min-width: 92px; width: 8%;}
.oaex_subsystem_role_valid_thru_end_date_tilde {min-width: 25px; width: 2%;}
.oaex_subsystem_role_valid_thru_end_date_to {min-width: 92px; width: 8%;}

 /* 取引ロール検索条件の折りたたみヘッダー */
.oaex_biztran_role_header {position: relative;}
.oaex_biztran_role_header_conditions {
	 position: absolute;
	 top: 4px;
	 left: 160px;
	 min-width: 720px;
}
.oaex_biztran_role_clsoe {display: none;}
 
/**
 * 取引ロールテーブル 
 */
.oaex_biztran_role_table {
	height: 191px; 
	overflow-y: scroll;
}
.oaex_biztran_role_table td {
	padding: 2px 2px;
}
/* 取引ロールテーブル */
.oaex_biztran_role_check_th {min-width: 25px; width: 2%;}
.oaex_biztran_role_check {min-width: 25px; width: 2%;}

.oaex_biztran_role_biztran_role_th {min-width: 340px; width: 26%;}
.oaex_biztran_role_biztran_role_code {min-width: 60px; width: 5%;}
.oaex_biztran_role_biztran_role_name {min-width: 280px; width: 21%;}

.oaex_biztran_role_valid_thru_sel_non_th {min-width: 234px; width: 17%;}
.oaex_biztran_role_valid_thru_sel_non {min-width: 110px; width: 9%;}
.oaex_biztran_role_valid_thru_sel_status {min-width: 124px; width: 10%;}

.oaex_biztran_role_valid_thru_status_date_th {min-width: 202px; width: 18%;}
.oaex_biztran_role_valid_thru_status_date {min-width: 92px; width: 8%;}
.oaex_biztran_role_valid_thru_sel_conditions {min-width: 110px; width: 9%;}

.oaex_biztran_role_valid_thru_start_date_from_th {min-width: 209px; width: 18%;}
.oaex_biztran_role_valid_thru_start_date_from {min-width: 92px; width: 8%;}
.oaex_biztran_role_valid_thru_start_date_tilde {min-width: 25px; width: 2%;}
.oaex_biztran_role_valid_thru_start_date_to {min-width: 92px; width: 8%;}

.oaex_biztran_role_valid_thru_end_date_from_th {min-width: 209px; width: 18%;}
.oaex_biztran_role_valid_thru_end_date_from {min-width: 92px; width: 8%;}
.oaex_biztran_role_valid_thru_end_date_tilde {min-width: 25px; width: 2%;}
.oaex_biztran_role_valid_thru_end_date_to {min-width: 92px; width: 8%;}

/**
 * 最終サインオペレーション チェックボックス
 */
.oaex_signintrace_checkbox_col {
	min-height: 47.5px;
	padding-top: 11.25px !important;
}

/**
 * オペレーターテーブル 
 */

#operator_table {visibility: collapse;}
#operator_table_pagination {visibility: collapse;}

 /* 水平スクロール設定 */
 .oaex_operator_table {
	overflow-y: auto;
	/*overflow-x: auto;*/
	/*overflow-y: hidden;*/
	/*height: 249px;*/
}
/* 明細行　下線を削除 */
.oaex_operator_table tr {
    border-bottom: 0; 
}
/* 明細行の下線 */
tr.oaex_operator_table_row {
	border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}
/* 明細行の上線（Thymeleaf用） */
tr.oaex_th_operator_table_row {
	border-top: solid 1px rgba(0, 0, 0, 0.12);
}
/* 利用可否 */
.oaex_operator_available_status_th {min-width: 44px; width: 3%;}
.oaex_operator_available_status {min-width: 44px; width: 3%;}
/* ロック */
.oaex_operator_account_lock_th {min-width: 40px; width: 3%;}
.oaex_operator_account_lock {min-width: 40px; width: 3%;}
/* 店舗 */
.oaex_operator_branch_th {min-width: 160px; width: 13%;}
.oaex_operator_branch_code {min-width: 40px; width: 8%;}
.oaex_operator_branch_name {min-width: 120px; width: 5%;}
/* オペレーター */
.oaex_operator_operator_th {min-width: 200px; width: 13%;}
.oaex_operator_operator_code {min-width: 80px; width: 5%;}
.oaex_operator_operator_name {min-width: 150px; width: 8%;}
/* オペレーター有効期限 */
.oaex_operator_valid_thru_date_th {min-width: 180px; width: 12%;}
.oaex_operator_valid_thru_date {min-width: 180px; width: 12%;}
/* サブシステムロール */
.oaex_operator_subsystem_role_th {min-width: 200px; width: 14%;}
.oaex_operator_subsystem_role {min-width: 200px; width: 14%;}
/* サブシステムロール有効期限 */
.oaex_operator_subsystem_role_valid_thru_date_th {min-width: 180px; width: 12%;}
.oaex_operator_subsystem_role_valid_thru_date {min-width: 180px; width: 12%;}
/* 取引ロール */
.oaex_operator_biztran_role_th {min-width: 280px; width: 19%;}
.oaex_operator_biztran_role_code {min-width: 60px; width: 4%;}
.oaex_operator_biztran_role_name {min-width: 220px; width: 15%;}
/* 取引ロール有効期限 */
.oaex_operator_biztran_role_valid_thru_date_th {min-width: 180px; width: 13%;}
.oaex_operator_biztran_role_valid_thru_date {min-width: 180px; width: 13%;}
/* 利用可否状態（利用可） */
.oaex_available_status_possible {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #2196f3;											/* (blue) */
}
/* 利用可否状態（利用否） */
.oaex_available_status_inpossible {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #e0e0e0;											/* (grey lighten-2) */
}
/* ロック状態（アンロック） */
.oaex_account_unlock {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #8bc34a;											/* (light-green) */
}
/* ロック状態（ロック） */
.oaex_account_lock {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #f44336;											/* (red) */
}

.oaex_table_row_filter {display: none;}
