/**
 * oa12070 JA割当IPアドレス範囲メンテナンス
 */

/** 
 * JA割当IPアドレス範囲テーブル
 */
 .oaex_ip_address_range_table {
	height: 380px; 
	overflow-y: scroll;
}
.oaex_ip_address_range_table td {
	padding: 2px 2px;
}
.oaex_ip_address_range_table_template_row {display: none;}

.oaex_ip_address_range_table_ip_address_range_th {min-width: 300px; width: 60%;}
.oaex_ip_address_range_table_ip_address_range {min-width: 300px; width: 60%;}

.oaex_ip_address_range_table_expiration_th {min-width: 240px; width: 40%;}
.oaex_ip_address_range_table_expiration {min-width: 240px; width: 40%;}
.oaex_ip_address_range_table_expiration input[type=text] {
	width: 45% !important;
	margin: 0px !important;
}
