/**
 * OA11030 オペレーター更新
 */

/* ロック状態（アンロック） */
 .oaex_lock_status_unlock {
	color: #1de9b6;
	font-size: 300%;
	vertical-align: middle;
	margin-top: 10px;
	line-height: 0;
}
/* ロック状態（ロック） */
 .oaex_lock_status_lock {
	color: #ff1744;
	font-size: 300%;
	vertical-align: middle;
	margin-top: 10px;
	line-height: 0;
}
/* サブシステムロールテーブル */
.oaex_subsystem_role_table {
	height: 162px; 
	overflow-y: scroll;
}
.oaex_subsystem_role_table_name {min-width: 350px; width: 65%;}
.oaex_subsystem_role_table_expiration {min-width: 200px; width: 35%;}

/* 取引ロールテーブル */
.oaex_biztran_role_table {
	height: 162px; 
	overflow-y: scroll;
}
.oaex_biztran_role_table_name_th {min-width: 350px; width: 65%;}
.oaex_biztran_role_table_code {min-width: 70px; width: 10%;}
.oaex_biztran_role_table_name {min-width: 280px; width: 55%;}

.oaex_biztran_role_table_expiration_th {min-width: 200px; width: 35%;}
.oaex_biztran_role_table_expiration {min-width: 200px; width: 35%;}
