/**
 * OA12040 システム利用可能時間帯＜一覧＞
 */

/**
 * システム利用可能時間帯テーブル（曜日 ＼ サブシステム）
 */
/* テーブル　左線を表示 */
#week_subsystem_table {border: solid 1px rgba(0, 0, 0, 0.12);}
/* 見出し行　上下線を削除 */
#week_subsystem_table thead tr {
    border-top: 0; 
    border-bottom: 0; 
}
/* 見出しセル　右線を表示 */
#week_subsystem_table th {
    border-right: solid 1px rgba(0, 0, 0, 0.12);
    text-align: center;
}
#week_subsystem_table th.right-align {
    text-align: right;
}
#week_subsystem_table th.right-left {
    text-align: left;
}
/* 明細セル　上右線を表示、表示値を右寄せ */
#week_subsystem_table td {
    border-top: solid 1px rgba(0, 0, 0, 0.12);
    border-right: solid 1px rgba(0, 0, 0, 0.12);
    text-align: right;
}
/* 曜日セル　中央寄せ */
#week_subsystem_table .oaex_day_of_week {text-align: center;}

/**
 * システム利用可能時間帯テーブル（サブシステム ＼ 曜日）
 */
/* テーブル　左線を表示 */
#subsystem_week_table {border: solid 1px rgba(0, 0, 0, 0.12);}
/* 見出し行　上下線を削除 */
#subsystem_week_table thead tr {
    border-top: 0; 
    border-bottom: 0; 
}
/* 見出しセル　右線を表示 */
#subsystem_week_table th {
    border-right: solid 1px rgba(0, 0, 0, 0.12);
    text-align: center;
}
#subsystem_week_table th.right-align {
    text-align: right;
}
#subsystem_week_table th.right-left {
    text-align: left;
}
/* 明細セル　上右線を表示、表示値を右寄せ */
#subsystem_week_table td {
    border-top: solid 1px rgba(0, 0, 0, 0.12);
    border-right: solid 1px rgba(0, 0, 0, 0.12);
    text-align: right;
}
/* サブシステムセル　左寄せ */
#subsystem_week_table .oaex_day_of_week {text-align: left;}

/* テーブルの左ヘッダー 上線 */
.oaex_table_head {border-top: solid 1px rgba(0, 0, 0, 0.12);}