<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>オペレーター更新 | 基幹系認証管理システム</title>
	<link rel="stylesheet" href="../static/materialize/css/materialize.min.css"/>
	<link rel="stylesheet" href="../static/css/common.css"/>
	<link rel="stylesheet" href="../static/css/sidenav.css"/>
	<link rel="stylesheet" href="../static/css/oa11030.css"/>
	<script src="../static/materialize/js/materialize.min.js"></script>
	<script src="../static/js/common.js"></script>
	<script src="../static/js/sidenav.js"></script>
	<script src="../static/js/oa11030.js"></script>
</head>
<body>
	<!-- モーダルダイアログ用定義 -->
	<script>oa_getMassageDialog();</script>
	<!-- 左に表示するメニュー用定義 -->
	<script>oa_getSidenav("oa11030");</script>
	<!-- header定義 -->
	<header>
		<script>oa_getHeader("oa11030", "オペレーター更新");</script>
	</header>

	<!-- main定義 -->
	<main>
		<section>
			<!-- ＪＡ -->
			<div class="row oa_readonly">
				<div class="col s6">
					<div class="input-field">
						<input type="text" id="ja" readonly="readonly" value="006 JA前橋"></input>
						<label for="ja">ＪＡ</label>
					</div>
				</div>
			</div>
			<!-- 店舗 -->
			<div class="row oa_required">
				<div class="col s6">
					<div class="input-field">
						<select id="tempo" class="validate">
							<option value=""></option>
							<option value="001" selected="selected">本所</option>
							<option value="002">○○○支所</option>
							<option value="003">△△センター</option>
							<option value="004">□□□□店</option>
							<option value="005">××××館</option>
						</select>
						<label>店舗</label>
					</div>
				</div>
			</div>
			<!-- オペレーターコード -->
			<div class="row oa_readonly">
				<div class="col s6">
					<div class="input-field">
						<input type="text" id="operater_code" readonly="readonly" value="OP101008"></input>
						<label for="operater_code">オペレーターコード</label>
					</div>
				</div>
			</div>
			<!-- オペレーター名 -->
			<div class="row oa_required">
				<div class="col s8">
					<div class="input-field">
						<input type="text" id="operater_name" class="validate" value="御辺　玲汰"></input>
						<label for="operater_name">オペレーター名</label>
					</div>
				</div>
			</div>
			<!-- メールアドレス -->
			<div class="row oa_optional">
				<div class="col s8">
					<div class="input-field">
						<input type="email" id="mail_address" class="validate" value="operator@den.jagunma.net"></input>
						<label for="mail_address">メールアドレス</label>
					</div>
				</div>
			</div>
			<!-- 有効期限 -->
			<div class="row oa_required">
				<div class="row">
					<div class="col s3">
						<label class="oa_content_label">有効期限</label>
					</div>
				</div>
				<div class="row">
					<div class="col s4">
						<div class="input-field">
							<input type="text" id="expiration_start_date" class="validate datepicker" value="2020/04/01"></input>
							<label for="expiration_start_date">（開始日）</label>
						</div>
					</div>
					<div class="col s1">
						<p>～</p>
					</div>
					<div class="col s4">
						<div class="input-field">
							<input type="text" id="expiration_end_date" class="validate datepicker" value="2021/03/31"></input>
							<label for="expiration_end_date">（終了日）</label>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<!-- ロック状態 -->
			<div class="row oa_readonly">
				<div class="row">
					<div class="col s3">
						<label class="oa_content_label">ロック状態</label>
					</div>
				</div>
				<div class="row">
					<div class="col s1">
						<div id="lock_status_mark" class="oaex_lock_status_unlock">●</div>
					</div>
					<div class="col s4" style="display: inline;">
						<div class="input-field">
							<input type="text" id="lock_status" readonly="readonly" value="アンロック"></input>
							<label for="lock_status"></label>
						</div>
					</div>
					<div class="col s7">
						<a class="btn waves-effect waves-light" href="javascript:oa_transferForm('oa11090')">アカウントロック照会</a>
					</div>
				</div>			
				<!-- ★モック状態操作用★ -->
				<div class="row">
					<div class="switch">
						<label>
							★モック状態操作用★ unlock
							<input type="checkbox" id="mockup_lock_status" onchange="oaex_mockupLockStatus_onChange()"></input>
							<span class="lever"></span>
							lock
						</label>
					</div>
				</div>
			</div>
			<!-- 利用可否状態 -->
			<div class="row oa_required">
				<div class="row">
					<div class="col s3">
						<label class="oa_content_label">利用可否状態</label>
					</div>
				</div>
				<div class="row">
					<div class="col s6">
						<div class="switch">
							<label>
								利用不可
								<input type="checkbox" checked="checked"></input>
								<span class="lever"></span>
								利用可能
							</label>
						</div>
					</div>
				</div>
			</div>
			<!-- 機器認証 -->
			<div class="row oa_required">
				<div class="row">
					<div class="col s3">
						<label class="oa_content_label">機器認証</label>
					</div>
				</div>
				<div class="row">
					<div class="col s6">
						<div class="switch">
							<label>
								未使用
								<input type="checkbox"></input>
								<span class="lever"></span>
								使用
							</label>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<!-- 変更事由 -->
			<div class="row oa_required">
				<div class="col s8">
					<div class="input-field">
						<input type="text" id="change_cause" class="validate" placeholder="認証機器使用開始／退職／再就職…"></input>
						<label for="change_cause">変更事由</label>
					</div>
				</div>
			</div>
		</section>

		<section>
			<!-- ボタンエリア -->
			<div class="row">
				<div class="col s12">
					<a class="btn waves-effect waves-light oa_footer_button" href="javascript:oa_transferForm('oa11100')">オペレーター履歴</a>
					&nbsp;&nbsp;&nbsp;
					<a class="btn waves-effect waves-light oa_footer_button" href="javascript:oa_transferForm('oa11110')">パスワード変更履歴</a>
					&nbsp;&nbsp;&nbsp;
					<a class="btn waves-effect waves-light oa_footer_button" href="javascript:oa_transferForm('oa11040')">パスワードリセット</a>
					&nbsp;&nbsp;&nbsp;
					<a class="btn waves-effect waves-light oa_footer_button" href="javascript:oa_transferForm('oa11120')">サインイン証跡照会</a>
				</div>
			</div>
		</section>

		<br>
		
		<section>
			<!-- サブシステムロールテーブル -->
			<div class="row">
				<div class="col s4">
					<label class="oa_content_label">サブシステムロール</label>
				</div>
				<div class="col s7 offset-s1">
					<a class="btn waves-effect waves-light" href="javascript:oa_transferForm('oa11050')">サブシステムロール付与</a>
				</div>
			</div>
			<div class="row">
				<div class="col s9">
					<div class="oa_table_head_dflex">
						<div id="subsystem_role_table_head" class="oa_table_head_flex">
							<table>
								<thead>
									<tr>
										<th class="oaex_subsystem_role_table_name">付与ロール</th>
										<th class="oaex_subsystem_role_table_expiration">有効期限</th>
									</tr>
								</thead>
							</table>
						</div>
						<div class="oa_table_head_flex_scroll_bar"></div>
					</div>
					<div class="oaex_subsystem_role_table" onScroll="oa_linkageScrollX(this, 'subsystem_role_table_head')">
						<table id="subsystem_role_table" class="highlight">
							<tbody>
								<tr> 
									<td class="oaex_subsystem_role_table_name">JA管理者</td>
									<td class="oaex_subsystem_role_table_expiration">2020/04/01 ～ 9999/12/31</td>
								</tr>
								<tr><td>業務統括者（購買）</td><td>2020/05/01 ～ 9999/12/31</td></tr>
								<tr><td>業務統括者（販売・野菜）</td><td>2020/06/01 ～ 9999/12/31</td></tr>
								<tr><td>業務統括者（販売・花卉）</td><td>2020/07/01 ～ 9999/12/31</td></tr>
								<tr><td>業務統括者（販売・米）</td><td>2020/08/01 ～ 9999/12/31</td></tr>
								<tr><td>業務統括者（販売・麦）</td><td>2020/09/01 ～ 9999/12/31</td></tr>
								<tr><td>業務統括者（販売・畜産）</td><td>2020/10/01 ～ 9999/12/31</td></tr>
							</tbody>
						</table>
					</div>		
				</div>
			</div>
		</section>

		<section>
			<!-- 取引ロールテーブル -->
			<div class="row">
				<div class="col s4">
					<label class="oa_content_label">取引ロール</label>
				</div>
				<div class="col s7 offset-s1">
					<a class="btn waves-effect waves-light" href="javascript:oa_transferForm('oa11060')">取引ロール付与</a>
				</div>
			</div>
			<div class="row">
				<div class="col s9">
					<div class="oa_table_head_dflex">
						<div id="biztran_role_table_head" class="oa_table_head_flex">
							<table>
								<thead>
									<tr>
										<th class="oaex_biztran_role_table_name_th">付与ロール</th>
										<th class="oaex_biztran_role_table_expiration_th">有効期限</th>
									</tr>
								</thead>
							</table>
						</div>
						<div class="oa_table_head_flex_scroll_bar"></div>
					</div>
					<div class="oaex_biztran_role_table" onScroll="oa_linkageScrollX(this, 'biztran_role_table_head')">
						<table id="biztran_role_table" class="highlight">
							<tbody>
								<tr>
									<td class="oaex_biztran_role_table_code">KBAG01</td>
									<td class="oaex_biztran_role_table_name">（購買）購買業務基本</td>
									<td class="oaex_biztran_role_table_expiration">2020/04/01 ～ 9999/12/31</td>
								</tr>
								<tr><td>KBAG02</td><td>（購買）本所業務</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG03</td><td>（購買）本所管理業務</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG04</td><td>（購買）バラエサ処理</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG05</td><td>（購買）在庫管理</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG06</td><td>（購買）支払業務</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG07</td><td>（購買）受入業務</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG08</td><td>（購買）受注管理</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG09</td><td>（購買）未収金管理</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG10</td><td>（購買）損害金利息管理</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG11</td><td>（購買）配送管理</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG12</td><td>（購買）LPG担当者</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG13</td><td>（購買）LPG入金</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG14</td><td>（購買）レジ担当者</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG15</td><td>（購買）支所マスタ担当者</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG16</td><td>（購買）食材担当者</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG17</td><td>（購買）購買業務基本２</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG18</td><td>（購買）窓口供給（店舗用２）</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG19</td><td>（購買）合併</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG20</td><td>（購買）購買業務基本３</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG50</td><td>（購買）マスタ移行</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>KBAG99</td><td>（購買）電算センター</td><td>2020/04/01 ～ 9999/12/31</td></tr>
								<tr><td>YSAG10</td><td>（青果）管理者</td><td>2020/05/01 ～ 9999/12/31</td></tr>
								<tr><td>YSAG20</td><td>（青果）精算担当</td><td>2020/05/01 ～ 9999/12/31</td></tr>
								<tr><td>YSAG30</td><td>（青果）集荷場担当</td><td>2020/05/01 ～ 9999/12/31</td></tr>
								<tr><td>YSAG40</td><td>（青果）単価計算担当</td><td>2020/05/01 ～ 9999/12/31</td></tr>
								<tr><td>YSAG50</td><td>（青果）入力担当</td><td>2020/05/01 ～ 9999/12/31</td></tr>
								<tr><td>YSAG60</td><td>（青果）安定基金管理者</td><td>2020/05/01 ～ 9999/12/31</td></tr>
								<tr><td>YSAG70</td><td>（青果）支所担当</td><td>2020/05/01 ～ 9999/12/31</td></tr>
								<tr><td>YSAG90</td><td>（青果）電算センター維持管理担当者</td><td>2020/05/01 ～ 9999/12/31</td></tr>
								<tr><td>YFAG10</td><td>（花卉）管理者</td><td>2020/06/01 ～ 9999/12/31</td></tr>
								<tr><td>YFAG20</td><td>（花卉）精算担当</td><td>2020/06/01 ～ 9999/12/31</td></tr>
								<tr><td>YFAG30</td><td>（花卉）集荷場担当</td><td>2020/06/01 ～ 9999/12/31</td></tr>
								<tr><td>YFAG40</td><td>（花卉）単価計算担当</td><td>2020/06/01 ～ 9999/12/31</td></tr>
								<tr><td>YFAG50</td><td>（花卉）入力担当</td><td>2020/06/01 ～ 9999/12/31</td></tr>
								<tr><td>YFAG70</td><td>（花卉）支所担当</td><td>2020/06/01 ～ 9999/12/31</td></tr>
								<tr><td>YFAG90</td><td>（花卉）電算センター維持管理担当者</td><td>2020/06/01 ～ 9999/12/31</td></tr>
								<tr><td>HKAG10</td><td>（米）ＪＡ取引全般</td><td>2020/07/01 ～ 9999/12/31</td></tr>
								<tr><td>HKAG15</td><td>（米）ＪＡ取引振込以外全般</td><td>2020/07/01 ～ 9999/12/31</td></tr>
								<tr><td>HKAG99</td><td>（米）センター維持管理担当者</td><td>2020/07/01 ～ 9999/12/31</td></tr>
								<tr><td>HMAG20</td><td>（麦）ＪＡ取引全般</td><td>2020/08/01 ～ 9999/12/31</td></tr>
								<tr><td>HMAG25</td><td>（麦）ＪＡ取引振込以外全般</td><td>2020/08/01 ～ 9999/12/31</td></tr>
								<tr><td>HMAG99</td><td>（麦）センター維持管理担当者</td><td>2020/08/01 ～ 9999/12/31</td></tr>
								<tr><td>ANAG01</td><td>（畜産）取引全般</td><td>2020/09/01 ～ 9999/12/31</td></tr>
								<tr><td>ANAG02</td><td>（畜産）維持管理担当者</td><td>2020/09/01 ～ 9999/12/31</td></tr>
								<tr><td>ANAG98</td><td>（畜産）センター維持管理担当者</td><td>2020/09/01 ～ 9999/12/31</td></tr>
								<tr><td>ANAG99</td><td>（畜産）維持管理責任者</td><td>2020/09/01 ～ 9999/12/31</td></tr>
							</tbody>
						</table>
					</div>		
				</div>
			</div>
		</section>
		<br>
	</main>

	<!-- footer定義 -->
	<footer>
		<div class="row">
			<div class="col s3">
				<a class="btn waves-effect waves-light" href="javascript:oaex_closeBtn_onClick();">閉じる</a>
			</div>
			<div class="col s3 offset-s6">
				<a class="btn waves-effect waves-light" href="javascript:oaex_entryBtn_onClick();">登録</a>
			</div>
		</div>
	</footer>

</body>
</html>