<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>パスワード入力 | 基幹系認証管理システム</title>
	<link rel="stylesheet" href="../static/materialize/css/materialize.min.css"/>
	<link rel="stylesheet" href="../static/css/common.css"/>
	<link rel="stylesheet" href="../static/css/sidenav.css"/>
	<!-- <link rel="stylesheet" href="../static/css/oa11040.css"/> -->
	<script src="../static/materialize/js/materialize.min.js"></script>
	<script src="../static/js/common.js"></script>
	<script src="../static/js/sidenav.js"></script>
	<script src="../static/js/oa11040.js"></script>
</head>
<body>
	<!-- モーダルダイアログ用定義 -->
	<script>oa_getMassageDialog();</script>
	<!-- 左に表示するメニュー用定義 -->
	<script>oa_getSidenav("oa11040");</script>
	<!-- header定義 -->
	<header>
		<script>oa_getHeader("oa11040", "パスワード入力");</script>
	</header>

	<!-- main定義 -->
	<main>
		<section>
			<p id="mode_title" class="center-align">初期パスワードの入力</p>
		</section>

		<br>

		<section>
			<!-- ＪＡ -->
			<div class="row">
				<div class="col s6 offset-s3">
					<div class="input-field">
						<input type="text" id="ja" readonly="readonly" value="006 JA前橋"></input>
						<label for="ja">ＪＡ</label>
					</div>
				</div>
			</div>
			<!-- オペレーター -->
			<div class="row">
				<div class="col s6 offset-s3">
					<div class="input-field">
						<input type="text" id="operator" readonly="readonly" value="OP006027 前橋小太郎"></input>
						<label for="operator">オペレーター</label>
					</div>	
				</div>
			</div>
		</section>

		<br>
		<br>
		
		<section>
			<!-- 古いパスワード -->
			<div class="row" id="password_old_row">
				<div class="col s6 offset-s3">
					<div class="input-field">
						<input type="password" id="password_old" class="validate"></input>
						<label for="password_old">古いパスワード</label>
					</div>
				</div>
			</div>
			<!-- パスワード -->
			<div class="row">
				<div class="col s6 offset-s3">
					<div class="input-field">
						<input type="password" id="password_new" class="validate"></input>
						<label for="password_new">パスワード</label>
					</div>
				</div>
			</div>
			<!-- パスワードの確認入力 -->		
			<div class="row">
				<div class="col s6 offset-s3">
					<div class="input-field">
						<input type="password" id="password_confirm" class="validate"></input>
						<label for="password_confirm">パスワードの確認入力</label>
					</div>
				</div>
				<!-- →ボタン -->		
				<div class="col s3">
					<a class="btn waves-effect waves-light" href="#!">➡</a>
				</div>		
			</div>
		</section>

		<!-- ★モック状態操作用★ -->
		<br><br><br><br><br>
		<div class="row">
			<p>★モック状態操作用★</p>
		</div>
		<div class="row">
			<label>
				<input type="radio" id="mode_initial" name="mode" checked="checked" value="0" onchange="oaex_mode_onChange()"></input>
				<span>初期パスワードの入力</span>
			</label>
		</div>
		<div class="row">
			<label>
				<input type="radio" id="mode_reset" name="mode" value="1" onchange="oaex_mode_onChange()"></input>
				<span>パスワードのリセット</span>
			</label>
		</div>
		<div class="row">
			<label>
				<input type="radio" id="mode_change" name="mode" value="2" onchange="oaex_mode_onChange()"></input>
				<span>パスワードの変更</span>
			</label>
		</div>

	</main>

	<!-- footer定義 -->
	<!-- なし -->

</body>
</html>