<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>ロール確認（取引ロール編成・オペレーターロール付与状況・ロール割当状況） | 基幹系認証管理システム</title>
	<link rel="stylesheet" href="../static/materialize/css/materialize.min.css"/>
	<link rel="stylesheet" href="../static/css/common.css"/>
	<link rel="stylesheet" href="../static/css/sidenav.css"/>
	<!-- <link rel="stylesheet" href="../static/css/oa11140.css"/> -->
	<script src="../static/materialize/js/materialize.min.js"></script>
	<script src="../static/js/common.js"></script>
	<script src="../static/js/sidenav.js"></script>
	<script src="../static/js/oa11140.js"></script>
</head>
<body>
	<!-- モーダルダイアログ用定義 -->
	<script>oa_getMassageDialog();</script>
	<!-- 左に表示するメニュー用定義 -->
	<script>oa_getSidenav("oa11140");</script>
	<!-- header定義 -->
	<header>
		<script>oa_getHeader("oa11140", "ロール確認（取引ロール編成・オペレーターロール付与状況・ロール割当状況）");</script>
	</header>

	<!-- main定義 -->
	<main>
		<section>
			<!-- ＪＡ -->
			<div class="row oa_readonly">
				<div class="col s6">
					<div class="input-field">
						<input type="text" id="ja" readonly="readonly" value="006 JA前橋"></input>
						<label for="ja">ＪＡ</label>
					</div>
				</div>
			</div>
			
			<div class="row oa_required">
				
				<br>

				<!-- 取引ロール編成 -->
				<div class="row">
					<div class="col s11 offset-s1">
						<label>
							<input type="radio" id="mode_composition" name="mode" value="composition" onchange="oaex_mode_onChange()"></input>
							<span>取引ロール編成</span>
						</label>
					</div>
				</div>
				<br>
				<section id="mode_composition_child_section">
					<!-- 取引ロール ＋ 取引グループ／取引グループ ＋ 取引 -->
					<div class="row">
						<div class="col s10 offset-s2">
							<label>
								<input type="radio" id="mode_composition_child_1" name="mode_composition_child" value="1"></input>
								<span>取引ロール ＋ 取引グループ<br>取引グループ ＋ 取引</span>
							</label>
						</div>
					</div>
					<br>
					<!-- 取引ロール ＋ 取引グループ ＋ 取引 -->
					<div class="row">
						<div class="col s10 offset-s2">
							<label>
								<input type="radio" id="mode_composition_child_2" name="mode_composition_child" value="2"></input>
								<span>取引ロール ＋ 取引グループ ＋ 取引</span>
							</label>
						</div>
					</div>	
				</section>

				<br>

				<!-- オペレーターロール付与状況 -->
				<div class="row">
					<div class="col s11 offset-s1">
						<label>
							<input type="radio" id="mode_granted" name="mode" value="granted" onchange="oaex_mode_onChange()"></input>
							<span>オペレーターロール付与状況</span>
						</label>
					</div>
				</div>
				<br>
				<section id="mode_granted_child_section">
					<!-- 状態指定日 -->
					<div class="row">
						<div class="col s5 offset-s2">
							<div class="input-field">
								<input type="text" id="mode_granted_state_of_date" class="validate datepicker"></input>
								<label for="mode_granted_state_of_date">状態指定日</label>
							</div>
						</div>
					</div>
					<br>
					<!-- オペレーター ＋ サブシステムロール ＋ 取引ロール -->
					<div class="row">
						<div class="col s10 offset-s2">
							<label>
								<input type="radio" id="mode_granted_child_1" name="mode_granted_child" value="1"></input>
								<span>オペレーター ＋ サブシステムロール ＋ 取引ロール</span>
							</label>
						</div>
					</div>
					<br>
					<!-- オペレーター ＋ サブシステムロール ＋ 取引ロール ＋ 取引グループ -->
					<div class="row">
						<div class="col s10 offset-s2">
							<label>
								<input type="radio" id="mode_granted_child_2" name="mode_granted_child" value="2"></input>
								<span>オペレーター ＋ サブシステムロール ＋ 取引ロール ＋ 取引グループ</span>
							</label>
						</div>
					</div>
					<br>
					<!-- オペレーター ＋ サブシステムロール ＋ 取引ロール ＋ 取引グループ ＋ 取引 -->
					<div class="row">
						<div class="col s10 offset-s2">
							<label>
								<input type="radio" id="mode_granted_child_3" name="mode_granted_child" value="3"></input>
								<span>オペレーター ＋ サブシステムロール ＋ 取引ロール ＋ 取引グループ ＋ 取引</span>
							</label>
						</div>
					</div>
				</section>

				<br>

				<!-- ロール割当状況 -->
				<div class="row">
					<div class="col s11 offset-s1">
						<label>
							<input type="radio" id="mode_allocated" name="mode" value="allocated" onchange="oaex_mode_onChange()"></input>
							<span>ロール割当状況</span>
						</label>
					</div>
				</div>
				<br>
				<section id="mode_allocated_child_section">			
					<!-- 状態指定日 -->
					<div class="row">
						<div class="col s5 offset-s2">
							<div class="input-field">
								<input type="text" id="mode_allocated_state_of_date" class="validate datepicker"></input>
								<label for="mode_allocated_state_of_date">状態指定日</label>
							</div>
						</div>
					</div>
					<br>
					<!-- サブシステムロールオペレーター割当状況／取引ロールオペレーター割当状況 -->
					<div class="row">
						<div class="col s10 offset-s2">
							<label>
								<input type="radio" id="mode_allocated_child_1" name="mode_allocated_child" value="1"></input>
								<span>サブシステムロールオペレーター割当状況<br>取引ロールオペレーター割当状況</span>
							</label>
						</div>
					</div>
				</section>
			</div>
		</section>
		<br>
	</main>

	<!-- footer定義 -->
	<footer>
		<div class="row">
			<div class="col s3">
				<a class="btn waves-effect waves-light" href="javascript:oaex_closeBtn_onClick();">閉じる</a>
			</div>
			<div class="col s4 offset-s5">
				<a class="btn waves-effect waves-light" href="javascript:oaex_outputExcelBtn_onClick();">Excel出力</a>
			</div>
		</div>
	</footer>

</body>
</html>