<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>commonParts</title>
</head>
<body>

<div th:fragment="commonParts">
	<!-- 処理待表示 -->
	<div id="preloader" class="oa_preloader_bg oa_preloader_bg_hide">
		<div class="preloader-wrapper big active oa_preloader">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- メッセージダイアログ -->
	<button class="modal-trigger" id="btnShowAlert" data-target="alert" style="display: none;">alert</button>
	<div id="alert" class="modal">
		<div class="modal-content" id="alertMessage"></div>
		<div class="modal-footer">
			<a href="#!" class="modal-close btn waves-effect waves-light btn">OK</a>
		</div>
	</div>
	<button class="modal-trigger" id="btnShowConfirm" data-target="confirm" style="display: none;">alert</button>
	<div id="confirm" class="modal">
		<div class="modal-content" id="confirmMessage"></div>
		<div class="modal-footer">
			<a href="#!" class="modal-close btn waves-effect waves-light btn" id="confirmOKOnClick">OK</a>
			<a href="#!" class="modal-close btn waves-effect waves-light btn" id="confirmCancelOnClick">キャンセル</a>
		</div>
	</div>

	<input type="hidden" id="message" th:value="${form.message}"/>
</div>

</body>
</html>