<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>form elements</title>
</head>
<body>
	<!-- ＪＡ コンボボックス -->
<!--	<div class="input-field" th:fragment="selectJaForCode">-->
<!--		<select th:id="${id}" th:name="${name}" th:value="${selectedValue}">-->
<!--			<option th:each="item : ${selectAjaxItems}"-->
<!--					th:value="${item.code}"-->
<!--					th:text="${item.name}"-->
<!--					th:selected="${item.code} == ${selectedValue}"></option>-->
<!--		</select>-->
<!--		<label th:text="${title}"></label>-->
<!--	</div>-->

	<!-- 店舗 コンボボックス -->
<!--	<div class="input-field" th:fragment="selectBranchForCode">-->
<!--		<select th:id="${id}" th:name="${name}" th:value="${selectedValue}">-->
<!--			<option th:each="item : ${selectAjaxItems}"-->
<!--					th:value="${item.code}"-->
<!--					th:text="${item.name}"-->
<!--					th:selected="${item.code} == ${selectedValue}"></option>-->
<!--		</select>-->
<!--		<label th:text="${title}"></label>-->
<!--	</div>-->

	<!-- サブシステム コンボボックス -->
<!--	<div class="input-field" th:fragment="selectSubSystem">-->
<!--		<select th:id="${id}" th:name="${name}" th:value="${selectedValue}">-->
<!--			<option th:each="item : ${selectAjaxItems}"-->
<!--					th:value="${item.code}"-->
<!--					th:text="${item.name}"-->
<!--					th:selected="${item.code} == ${selectedValue}"></option>-->
<!--		</select>-->
<!--		<label th:text="${title}"></label>-->
<!--	</div>-->

	<!-- 取引グループ コンボボックス -->
<!--	<div class="input-field" th:fragment="selectBizTranGrpForCode">-->
<!--		<select th:id="${id}" th:name="${name}" th:value="${selectedValue}">-->
<!--			<option th:each="item : ${selectAjaxItems}"-->
<!--					th:value="${item.code}"-->
<!--					th:text="${item.name}"-->
<!--					th:selected="${item.code} == ${selectedValue}"></option>-->
<!--		</select>-->
<!--		<label th:text="${title}"></label>-->
<!--	</div>-->

	<!-- 取引 コンボボックス -->
<!--	<div class="input-field" th:fragment="selectBizTranForCode">-->
<!--		<select th:id="${id}" th:name="${name}" th:value="${selectedValue}">-->
<!--			<option th:each="item : ${selectAjaxItems}"-->
<!--					th:value="${item.code}"-->
<!--					th:text="${item.name}"-->
<!--					th:selected="${item.code} == ${selectedValue}"></option>-->
<!--		</select>-->
<!--		<label th:text="${title}"></label>-->
<!--	</div>-->

	<!-- コンボボックス -->
	<div class="input-field" th:fragment="selectForCode">
		<select th:id="${id}" th:name="${name}" th:value="${selectedValue}">
			<option th:each="item : ${selectAjaxItems}"
					th:value="${item.code}"
					th:text="${item.name}"
					th:selected="${item.code} == ${selectedValue}"></option>
		</select>
		<label th:text="${title}"></label>
	</div>

	<!-- 選択テーブル -->
	<div th:fragment="selectTableForCode">
		<table th:id="${id}" th:name="${name}" class="highlight">
			<tr th:each="item, iterStat : ${selectAjaxItems}">
				<td th:class="${tdCodeClass}" th:text="${item.code}"></td>
				<td th:class="${tdNameClass}" th:text="${item.name}"></td>
			</tr>
		</table>
	</div>

</body>
</html>